@charset "UTF-8";
/* CSS Document */

/* CSS STYLE RESET START */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
 u, i, center,
dl, dt, dd, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ul {
	list-style: none;
}
ol {
	font-size: 14px;
}
h2{
	color: #256d92;
	font-size: 16px;
	font-family: geneva, sans-serif;
	margin-top: 10px;
	font-weight: bold;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
table.border_thin {
	border-width: 1px;
	border-spacing: 1px;
	border-style: none;
	border-color: gray;
	border-collapse: collapse;
	background-color: white;
}
table.border_thin th {
	border-width: 1px;
	padding: 2px;
	border-style: inset;
	border-color: gray;
	background-color: white;
	-moz-border-radius: ;
}
table.border_thin td {
	border-width: 1px;
	padding: 2px;
	border-style: inset;
	border-color: gray;
	background-color: white;
	-moz-border-radius: ;
}

/* CSS STYLE RESET END */

/* UNIVERSAL CLASS START */
.tree_head{
	color: #256d92;
	font-size: 16px;
	font-family: geneva, sans-serif;
	margin-top: 10px;
	font-weight: bold;
	padding-bottom:10px;
}
.shadow {
		-moz-box-shadow:  0px 2px 2px 1px #6f6f6f;
		-webkit-box-shadow: 0px 2px 2px 1px #6f6f6f;
		box-shadow: 0px 2px 2px 1px #6f6f6f;
		/* For IE 8 */
		-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=90, Color='#6f6f6f')";
		/* For IE 5.5 - 7 */
		filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=90, Color='#6f6f6f');
	}

.font_adjust{ font-family: Arial, Helvetica, sans-serif; font-size: 12px;}

.form_format{ border: solid 1px #999; padding: 5px; color: #666;}

.form_format_textarea{ border: solid 1px #999;padding: 5px; color: #666;}

.search_form{ border: solid 1px #ccc; height: 28px;-moz-border-radius-bottomright: 5px;border-bottom-right-radius: 5px;-moz-border-radius-bottomleft: 5px;border-bottom-left-radius: 5px;-moz-border-radius-topright: 5px;border-top-right-radius: 5px;-moz-border-radius-topleft: 5px;border-top-left-radius: 5px; color:#999; font-size: 12px; font-weight:bold; padding: 5px;margin-top:5px}

#search_main{ width: 960px; height: 50px; background-image:url(/images/ri_search_bg-3.jpg); background-repeat:no-repeat; margin-bottom: 15px; margin-top:15px;}

/* UNIVERSAL CLASS END */

/* LANDING PAGE */

#ri_landing{ background-image: url(/images/ri_landing_bg.jpg); background-position: top; }

#ri_landing_logo{width: 825px; margin: auto; margin-bottom: 10px;}

#ri_landing_welcome{ width: 960px; margin: auto;}

/*#ri_landing_welcome h1{font-size: 22px; line-height: 50px; color: #FFF; font-family: geneva, sans-serif;}*/
#ri_landing_welcome h1{font-size: 16px; line-height: 30px; font-family: geneva, sans-serif; font-weight:bold; text-align:left;margin-bottom:10px;}

#ri_landing_welcome p {font-size:14px;font-family: geneva, sans-serif}


#ri_landing_search_area{ width: 452px; height: 34px; margin: auto; -moz-border-radius-bottomright: 5px;border-bottom-right-radius: 5px;-moz-border-radius-bottomleft: 5px;border-bottom-left-radius: 5px;-moz-border-radius-topright: 5px;border-top-right-radius: 5px;-moz-border-radius-topleft: 5px;border-top-left-radius: 5px; background-color: #FFF; margin-bottom: 25px; margin-top: 25px; padding: 10px; }

#ri_landing_search_area_left{ height:34px; width: 45px; background-image:url(/images/ri_search_left.jpg); background-repeat:no-repeat; float: left; }

#ri_landing_search_area_center{ height:22px; width: 312px; padding: 5px; border: none; border-top: solid 1px #d6d6d6; border-bottom: solid 1px #d6d6d6; margin:0px; float: left; color: #999; font-weight: bold; font-size: 16px;}

#ri_landing_search_area_right{ height: 34px;width: 83px;float: left; }

#ri_landing_boxes_container{-moz-border-radius-bottomright: 5px;border-bottom-right-radius: 5px;-moz-border-radius-bottomleft: 5px;border-bottom-left-radius: 5px;-moz-border-radius-topright: 5px;border-top-right-radius: 5px;-moz-border-radius-topleft: 5px;border-top-left-radius: 5px; background-color: #FFF; width: 960px; height: 243px; margin-bottom: 25px; margin-top: 25px;}

.ri_landing_boxes{ width: 230px; height: 227px; margin-left: 8px;-moz-border-radius-bottomright: 3px;border-bottom-right-radius: 3px;-moz-border-radius-bottomleft: 3px;border-bottom-left-radius: 3px;-moz-border-radius-topright: 3px;border-top-right-radius: 3px;-moz-border-radius-topleft: 3px;border-top-left-radius: 3px; float: left; background-color:#CCC; margin-top: 8px; overflow:hidden;}

.ri_landing_boxes_last{margin-right: 0px;}


/* HEADER CONTENTS START */

/* #ri_header{ height: 130px; width: 100%; background-image:url(/images/ri_header_bg.jpg); background-position: center; padding-top: 10px;} */

#ri_header{ height: 200px; width: 100%; background-image:url(/images/ri_header_bg-2.jpg); background-position: center; padding-top: 10px;}

#ri_header_logo{ width: 300px; margin: auto; margin-bottom: 10px; }

#ri_header_tagline{ width: 600px; margin: auto;}

#ri_header_navigation{ width: 900px; margin: auto; height: 58px; line-height: 58px; background-image: url(/images/ri_nav_bg.png); background-repeat:no-repeat;text-align:center}

#ri_header_navigation ul { list-style:	none; margin: 0 auto; width: 900px;
-moz-border-radius-bottomright: 8px;border-bottom-right-radius: 8px;-moz-border-radius-bottomleft: 8px;border-bottom-left-radius: 8px;-moz-border-radius-topright: 8px;border-top-right-radius: 8px;-moz-border-radius-topleft: 8px;border-top-left-radius: 8px; /*overflow: hidden;*/
}

<!--#ri_header_navigation li { float:left; }-->

#ri_header_navigation li a { height: 54px;	line-height: 54px; float: left; font-weight: normal; letter-spacing: 0px; text-decoration: none; color: #363639; text-transform: uppercase; font-size: 12px; padding: 0 10px; margin-top: 2px; font-family: geneva, sans-serif; }

#ri_header_navigation li a:hover { background: #349bd0; color: #FFFFFF;	}

#ri_header_navigation li a.current { background: #349bd0; color: #FFFFFF; }

/* HEADER CONTENTS END */

/* SEARCH AREA START */

#ri_search_area{ width: 960px; margin:auto; height: 54px;}

#ri_search_area{}



/* PAGE CONTENT */

#ri_page_content{ width: 960px; min-height:300px; margin: auto; margin-top: 30px;}
#ri_page_content p{ font-size: 14px; color:#333333; line-height: 20px; padding-bottom:8px;}
#ri_page_content ul{
	text-align: left;
	font-size: 14px; color:#333333; line-height: 22px;
	padding-top:4px;
	padding-bottom:4px;
	padding-left:16px;
	padding-right:10px;
	margin-left:10px;
	list-style: disc ;
	list-style-position: inherit;
}
#ri_page_content li {
	margin-bottom: 10px;
	padding-top: 0;
}

h1.page_title{ width: 960px; color: #256d92; padding-bottom: 20px; border-bottom: solid 1px #256d92; margin-bottom: 25px; text-transform: uppercase; font-family: geneva, sans-serif;}

p.page_title_abstract{ font-size: 12px; color: #666666; line-height: 20px; margin-bottom: 30px;}


/* FEATURE LISTING START */

#ri_feature_listing{ width: 960px; margin: auto; height: 300px; padding: 0px; background-image: url(/images/ri_listings_feature_image.jpg); background-repeat:no-repeat; margin-bottom: 25px;}
#ri_feature_listing_overlay{ width:500px; float: left; height: 140px; background-image:url(/images/ri_feature_overlay_bg.png);}

#ri_feature_listing_overlay h1{ color: #FFF; margin-bottom: 10px; margin-left: 20px; margin-top: 10px; font-size: 22px;}

#ri_feature_listing_overlay p{ color: #FFF; font-family: Arial, Helvetica, sans-serif; margin-bottom: 10px; font-size: 12px; line-height: 22px; margin-left: 20px; }

#ri_feature_listing_overlay img{ margin-left: 0px; }

/* FEATURE LISTING END */


/* TAG CLOUD START */

#ri_tag_cloud{ width: 960px; margin: auto; margin-bottom: 15px; padding-bottom: 15px; border-bottom: solid 1px #999;}


/* TAG CLOUD END */


/* 3 COLUMN SETUP */

.ri_3_col{ width: 300px; float: left; margin-right: 30px; border-top: solid 10px #256d92; padding-top: 18px; }

.ri_3_col h1{ font-size: 12px; font-weight: bold; color:#256d92; text-transform: uppercase; font-family: geneva, sans-serif;margin-bottom: 25px; }

.ri_3_col p{ font-size: 12px; color:#333333; line-height: 18px;}

.ri_3_col_last{ width: 300px; float: left; border-top: solid 10px #256d92; padding-top: 18px; }

.ri_3_col_last h1{ font-size: 12px; font-weight: bold; color:#256d92;text-transform: uppercase;font-family: geneva, sans-serif; margin-bottom: 25px; }

.ri_3_col_last p{font-size: 12px; color:#333333;line-height: 18px;}


/* 4 COLUMN SETUP */

.ri_4_col{ width: 220px; float: left; margin-right: 20px; margin-bottom: 35px; }

.ri_4_col img{ width: 220px; overflow: hidden; margin-bottom: 10px;}

.ri_4_col h1{ font-size: 16px; color:#256d92; font-family: "Times New Roman", Times, serif;margin-bottom: 5px; }

.ri_4_col h1 a{text-decoration: none; color:#256d92;}

.ri_4_col p{ font-size: 10px; color:#333333; line-height: 18px; font-family: geneva, sans-serif;}


/* 4 COLUMN SETUP - LAST IN ROW */

.ri_4_col_last{ width: 220px; float: left;  margin-bottom: 35px; }

.ri_4_col_last img{ width: 220px; overflow: hidden; margin-bottom: 10px;}

.ri_4_col_last h1{ font-size: 16px; color:#256d92; font-family: "Times New Roman", Times, serif;margin-bottom: 5px; }

.ri_4_col_last h1 a{text-decoration: none; color:#256d92;}

.ri_4_col_last p{ font-size: 10px; color:#333333; line-height: 18px; font-family: geneva, sans-serif;}

/* 4 COLUMN SETUP - EXTRAS */

.ri_4_col_lower_segment{ width: 220px; margin-top: 10px;}

.ri_4_col_lower_segment img{ width: 55px; height: 23px; margin-top: -5px; float: right;}

.ri_4_col_price{ width: 155px; color: #468332; font-family: geneva, sans-serif; float: left; font-size: 12px;}


/* DETAILS PAGE */

#ri_breadcrumb_bar{ width: 960px; height: 60px; background-color: #303030;}

#ri_breadcrumb_bar_left{ width: 400px; float: left; margin-top: 25px; margin-left: 20px;}

#ri_breadcrumb_bar_left p{color:#999; font-family: Arial, Helvetica, sans-serif; font-size: 12px;}

#ri_breadcrumb_bar_left p a{ text-decoration: none; color:#FFF;}

#ri_breadcrumb_bar_left p a:hover { text-decoration: underline; color:#FFF;}

#ri_breadcrumb_bar_right{ width: 282px; float: right; margin-top: 25px}

#ri_breadcrumb_bar_right p a{ text-decoration: none; color:#FFF;}

#ri_breadcrumb_bar_right p a:hover { text-decoration: underline; color:#FFF; }
#ri_breadcrumb_bar_right ul { list-style: none; margin: auto; width: auto; }

#ri_breadcrumb_bar_right li { float:left; }

#ri_breadcrumb_bar_right li a { height: 54px;	line-height: 54px; float: left; font-weight: normal; letter-spacing: 0px; text-decoration: none; color: #FFFFFF; text-transform: uppercase; font-size: 10px; padding: 0 20px; margin-top: 2px; font-family: arial, sans-serif; }

#ri_breadcrumb_bar_right li a:hover { background: #333; color: #FFFFFF;	}

/* DETAILS MAIN CONTENT LEFT */

#ri_details_content_left{ width: 610px; float: left; padding: 10px; border: solid 1px #ccc; margin-top: 15px; margin-bottom: 15px;}

#ri_details_content_left_header h1{ margin-top: 15px; color: #666; font-size: 28px;}

#ri_details_content_left_header h2{ font-size: 12px; color: #333; font-family: geneva, sans-serif; margin-top: 10px;}

#ri_details_content_left_header h3{ font-size: 14px; color:#060; font-family: geneva, sans-serif; margin-top: 10px;margin-bottom: 15px;}

#ri_details_content_left_header p{ font-family: geneva, sans-serif; color: #999; font-size: 12px; margin-top: 6px; margin-bottom: 10px;}

#ri_details_content_left_image{margin-bottom: 15px;}

#ri_details_content_left_description{ background-color: #f4f4f4; padding: 10px;}

#ri_details_content_left_description p{ font-family: Arial, Helvetica, sans-serif; font-size: 12px; margin-bottom: 10px;line-height: 20px;}

#ri_details_content_left_description h1{ font-size: 18px; margin-bottom: 10px;}

#ri_details_content_left_description ul{ width: 280px; float: left; color: #666; font-family: geneva, sans-serif; font-size: 10px;}

#ri_details_content_left_description ul li{ line-height: 18px;}

#ri_details_content_left_map{ padding: 5px;}

#ri_details_content_left_map h1{padding-top: 15px; margin-top: 5px; border-top: solid 1px #ccc; color: #666; font-size: 28px; margin-bottom: 10px;}

#ri_details_content_left_map img{ border: solid 1px #ccc;}

#ri_details_content_right{ width: 300px; float: right;margin-top: 15px; }

#ri_details_content_right_showing{margin-bottom: 15px; padding: 20px;background: #f4f4f4; }

#ri_details_content_right_button_center{clear:both;margin-bottom: 15px; padding: 20px;text-align: center;margin-top:20px;background: #e0f5ff;}

#ri_details_content_right_showing h1{ font-size: 22px; margin-bottom: 30px; color: #000; padding-bottom: 10px; border-bottom: solid 1px #ccc; margin-top:0;}
#ri_details_content_right_button_center h1{ font-size: 22px; margin-bottom: 30px; color: #000; padding-bottom: 10px; border-bottom: solid 1px #fff; margin-top:0;text-align:left;}

#ri_details_content_right_button_center img{margin-bottom: 10px;}

#ri_details_content_right_other{margin-bottom: 15px; border-top: solid 10px #256d92; padding-top: 12px;}

#ri_details_content_right_other h1{ font-size: 18px; margin-bottom: 10px; color: #666; padding-bottom: 10px; border-bottom: solid 1px #dddddd; width: 300px;}

#ri_details_content_right_details{margin-bottom: 15px;  padding-top: 30px;}

#ri_details_content_right_details p{ font-family: Arial, Helvetica, sans-serif; font-size: 12px; margin-bottom: 10px; line-height: 16px;}


/* FREE FLOW COLUMNS START */

.ri_details_content_free_flow{ width: 300px; float: left; margin-right: 30px; border-top: solid 10px #256d92; padding-top: 18px; margin-bottom: 15px; }

.ri_details_content_free_flow h1{ font-size: 12px; font-weight: bold; color:#256d92; text-transform: uppercase; font-family: geneva, sans-serif;margin-bottom: 15px; }

.ri_details_content_free_flow p{ font-size: 12px; color:#333333; line-height: 18px;}

.ri_details_content_free_flow_last{ width: 300px; float: left; border-top: solid 10px #256d92; padding-top: 18px;margin-bottom: 15px; }

.ri_details_content_free_flow_last h1{ font-size: 12px; font-weight: bold; color:#256d92;text-transform: uppercase;font-family: geneva, sans-serif; margin-bottom: 15px; }

.ri_details_content_free_flow_last p{font-size: 12px; color:#333333;line-height: 18px;}




/* FREE FLOW COLUMNS END */


/* FOOTER */

#ri_footer{ width: 100%; height: 265px; background-color: #dbdbdb; border-top: #cacaca; padding-top: 25px; position: relative; bottom: 0px; margin-top: 25px;color: #333; font-size: 12px; font-family: "geneva", sans-serif;}
#ri_footer a{text-decoration: none; color: #333; font-size: 12px; font-family: "geneva", sans-serif;}
#ri_footer a:hover{text-decoration: underline;}

#ri_footer_components{ width: 960px; margin: auto;}

#ri_footer_locations{ width: 560px; float: left; margin-right: 30px;}

#ri_footer_locations h1{ font-size: 12px; font-weight: bold; padding-bottom: 15px; border-bottom: solid 1px #666666; font-family: geneva, sans-serif; text-transform: uppercase; color: #666666; margin-bottom: 15px;}

#ri_footer_locations ul{ width: 280px; float: left;}

#ri_footer_locations ul li{line-height: 22px;}

#ri_footer_locations ul li a{ text-decoration: none; text-transform: uppercase; color: #333; font-size: 12px; font-family: geneva, sans-serif;}

#ri_footer_locations ul li a:hover{text-decoration: underline;}


#ri_footer_landord_services{ width: 165px; float: left;}

#ri_footer_landord_services h1{ font-size: 12px; font-weight: bold; padding-bottom: 15px; border-bottom: solid 1px #666666; font-family: geneva, sans-serif; text-transform: uppercase; color: #666666; margin-bottom: 15px;}

#ri_footer_landord_services ul{ width: 165px; float: left;}

#ri_footer_landord_services ul li{line-height: 22px;}

#ri_footer_landord_services ul li a{ text-decoration: none; text-transform: uppercase; color: #333; font-size: 12px; font-family: geneva, sans-serif;}

#ri_footer_landord_services ul li a:hover{text-decoration: underline;}


#ri_footer_housing_rentals{ width: 165px; float: left; margin-right: 30px;}

#ri_footer_housing_rentals h1{ font-size: 12px; font-weight: bold; padding-bottom: 15px; border-bottom: solid 1px #666666; font-family: geneva, sans-serif; text-transform: uppercase; color: #666666; margin-bottom: 15px;}

#ri_footer_housing_rentals ul{ width: 164px; float: left;}

#ri_footer_housing_rentals ul li{line-height: 22px;}

#ri_footer_housing_rentals ul li a{ text-decoration: none; text-transform: uppercase; color: #333; font-size: 12px; font-family: geneva, sans-serif;}

#ri_footer_housing_rentals ul li a:hover{text-decoration: underline;}

/* MMD */

#showing_blue_box{
font-size:12px;font-weight:bold;font-family:geneva, sans-serif;background-color:#4AADCD;color:#FFF;height:26px;text-align:center;padding-top:4px;text-transform:uppercase;
}
#showing_green_box{
font-size:14px;font-weight:bold;font-family:geneva, sans-serif;background-color:#1EA32E;color:#FFF;height:40px;line-height:15px;text-align:center;padding-top:5px;text-transform:uppercase;margin-bottom:10px;
}

label.error { float: none; color: red; padding-left: .5em; vertical-align: top; font-weight:bold;}
.errmsg {color:#F00;font-weight:bold;font-size:14px;text-align:center;}
.important {color:#F00;font-weight:bold;}
.clear {clear: both;}
.banner_featured {
    display: inline-block;
    width: 220px;
    height: 165px;
    z-index: 10;
    background: url(/images/ri_featured_banner.png) no-repeat;
    position:absolute;
    top:0;
    right:0;
}

.banner_showing {
    display: inline-block;
    width: 220px;
    height: 165px;
    z-index: 10;
    background: url(/images/ri_showing_banner.png) no-repeat;
    position:absolute;
    top:0;
    right:0;
}

.banner_new {
    display: inline-block;
    width: 220px;
    height: 165px;
    z-index: 10;
    background: url(/images/ri_new_listing.png) no-repeat;
    position:absolute;
    top:0;
    right:0;
}
.banner_pending {
    display: inline-block;
    width: 220px;
    height: 165px;
    z-index: 10;
    background: url(/images/ri_app_pending.png) no-repeat;
    position:absolute;
    top:0;
    right:0;
}
.property_image {
	display: inline-block;
	position: relative;
	min-height:165px;
}

#ri_rv_categories{width:960px; margin: auto;}

#ri_rv_categories h2{ width: 181px; text-align: center; color: #F00; text-transform: uppercase; font-family: Arial, Helvetica, sans-serif; font-size: 12px; letter-spacing: 1px; margin-bottom: 10px; margin-top: 5px;}

#ri_rv_categories p{font-family: Arial, Helvetica, sans-serif; font-size: 10px; color: #333; line-height: 16px; padding: 5px; margin-bottom: 10px;}

.ri_rv_categories_columns_first{ width: 270px; margin-left:40px;padding-right: 10px; border-right: solid 1px #CCC; float: left;}

.ri_rv_categories_columns_middle{ width: 270px; padding-right: 10px; padding-left: 10px; border-right: solid 1px #CCC; float: left;}

.ri_rv_categories_columns_last{ width: 270px; padding-left: 10px; float: left;}

sup{ font-family: Arial, Helvetica, sans-serif; font-size: 8px;}

#main-nav{

}

.social-icons img {
margin-left:8px;
}
.social-icons {
text-align:right;
margin-top:10px;
}

#ri_header_navigation {
position: relative;
}

#ri_header_navigation .social-icons {
position:absolute;
right:7px;
top:4px;
}

#google_translate_element {
/*	width: 960px;*/
	margin: auto;
	text-align:right;
	margin-top: 12px;
	clear:both;
	color: #fff !important;
}

.goog-te-gadget {
	color:#fff !important;
}
.btn {
  background: #D4E99A;
  background-image: -webkit-linear-gradient(top, #D4E99A, #ADCC71);
  background-image: -moz-linear-gradient(top, #D4E99A, #ADCC71);
  background-image: -ms-linear-gradient(top, #D4E99A, #ADCC71);
  background-image: -o-linear-gradient(top, #D4E99A, #ADCC71);
  background-image: linear-gradient(to bottom, #D4E99A, #ADCC71);
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  font-family: Arial;
  color: #4C6020;
  font-size: 12px;
  padding: 4px 10px 4px 10px;
  text-decoration: none;
}

.btn-dark {
  background: #565656;
  background-image: -webkit-linear-gradient(top, #565656, #111111);
  background-image: -moz-linear-gradient(top, #565656, #111111);
  background-image: -ms-linear-gradient(top, #565656, #111111);
  background-image: -o-linear-gradient(top, #565656, #111111);
  background-image: linear-gradient(to bottom, #565656, #111111);
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  padding: 4px 10px 4px 10px;
  text-decoration: none;
  margin-top:10px;
}

.btn-dark:hover {
  background: #565656;
  background-image: -webkit-linear-gradient(top, #565656, #111111);
  background-image: -moz-linear-gradient(top, #565656, #111111);
  background-image: -ms-linear-gradient(top, #565656, #111111);
  background-image: -o-linear-gradient(top, #565656, #111111);
  background-image: linear-gradient(to bottom, #565656, #111111);
  text-decoration: none;
}



.btn-search {
  font-size: 12px;
  padding: 8px 10px 8px 10px;
  text-decoration: none;
}

.btn:hover {
  background: #ADCC71;
  background-image: -webkit-linear-gradient(top, #ADCC71, #D4E99A);
  background-image: -moz-linear-gradient(top, #ADCC71, #D4E99A);
  background-image: -ms-linear-gradient(top, #ADCC71, #D4E99A);
  background-image: -o-linear-gradient(top, #ADCC71, #D4E99A);
  background-image: linear-gradient(to bottom, #ADCC71, #D4E99A);
  text-decoration: none;
}

.btn-lg {
	padding:10px 24px;
}

.btn-grn {
  background: #6ab82b;
  background-image: -webkit-linear-gradient(top, #6ab82b, #4d9429);
  background-image: -moz-linear-gradient(top, #6ab82b, #4d9429);
  background-image: -ms-linear-gradient(top, #6ab82b, #4d9429);
  background-image: -o-linear-gradient(top, #6ab82b, #4d9429);
  background-image: linear-gradient(to bottom, #6ab82b, #4d9429);
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn-grn:hover {
  background: #4d9429;
  background-image: -webkit-linear-gradient(top, #4d9429, #6ab82b);
  background-image: -moz-linear-gradient(top, #4d9429, #6ab82b);
  background-image: -ms-linear-gradient(top, #4d9429, #6ab82b);
  background-image: -o-linear-gradient(top, #4d9429, #6ab82b);
  background-image: linear-gradient(to bottom, #4d9429, #6ab82b);
  text-decoration: none;
   color: #ffffff;
}

.call-us {
	margin-top:12px;
	color:#fff;
	font-size:16px;
}
