@model RentalManagement.Models.Ticket

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ticket</h4>
    <hr />
    <table class="table" id="ticket-details">
        <tr>
            <th>
                id
            </th>
            <th>
                Issue Date
            </th>
            <th>
                Priority
            </th>
            <th>
                Employee ID
            </th>
            <th>
                Employee Name
            </th>
            <th>
                Description
            </th>
            <th></th>
        </tr>
    </table>
    @section Scripts{
        <script>
        $(Document).ready(function(){
            $.ajax({
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                url: '@Url.Action("Details")',
                datatype: 'json',
                success: function (response) {
                    console.log(reponse);
                    var details;
                    for (var i = 0; i < response.length; i++) {

                    }
                    $('#ticket-details').append(details);
                }
            });
        });
        </script>
    }
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
