@model IEnumerable<RentalManagement.Models.Ticket>

@{
    ViewBag.Title = "Tickets";
}

<h2>Ticket</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" id="ticket-list">
    <tr>
        <th>
            Ticket Id
        </th>
        <th>
           Issue Date
        </th>
        <th>
            Priority
        </th>
        <th>
            Employee ID
        </th>
        <th>
            Employee Name
        </th>
        <th></th>
    </tr>
</table>
@section Scripts{
    <script>
        //alert("asdas");
        $(document).ready(function(){
            $.ajax({
                //async:true,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                url: '@Url.Action("GetTickets")',
                datatype: 'json',
                success: function (response) {
                    console.log(response);
                    //alert("dfjask");
                    for (var i = 0; i < response.length; i++) {
                        $('#ticket-list').append(
                            "<tr><td>" + response[i]+ "</td>"+
                            //"<td>" + new Date(parseInt(response[i])) + "</td>" +
                            "<td>" + response[i] + "</td>"+
                            "<td>" + response[i] + "</td>"+
                            "<td>" + response[i] + "</td>"+
                            "<td><button type = \"button\" value=\"" + response[i].ID + "\">Edit</button></td>" +
                        + "<td><button type = \"button\" value=\"" + response[i].ID + "\">Delete</button></td>" +
                        + "<td><button type = \"button\" value=\"" + response[i].ID + "\">Update</button></td></tr>"
                        );
                    }
                    
                },
                error: function () {
                    alert("Server could not process your request");
                }
            });
        });
    </script>
}
